<h1>Login</h1>

<%= form_tag '/login', class: "form-inline" do %>
  <div class="form-group">
    <label class="sr-only" for="email">Email address</label>
    <%= email_field_tag :email, params[:email], class: "form-control", placeholder: "Email", id: "email" %>
  </div>
  <div class="form-group">
    <label class="sr-only" for="password">Password</label>
    <%= password_field_tag :password, params[:password], class: "form-control", id: "password", placeholder: "Password" %>
  </div>
  <%= submit_tag "Submit", class: "btn btn-default" %>
<% end %>
