<h1>Prelievo n. {{$ctrl.withdrawal.id}}</h1>
<div class="alert alert-danger" ng-if="$ctrl.withdrawal.complete">
  Questo prelievo è stato indicato come completo: tutti i soldi prelevati sono stati spesi.
</div>
<p>
  <strong>Data del ritiro:</strong>
  {{$ctrl.withdrawal.date | date: "dd/MM/yyyy"}}
</p>

<p>
  <strong>User:</strong>
  {{$ctrl.withdrawal.user.name}}
</p>

<p>
  <strong>Prelevati:</strong>
  {{$ctrl.withdrawal.amount}}
</p>

<p>
  <strong>Note:</strong>
  <pre>{{$ctrl.withdrawal.note}}</pre>
</p>

<a href="/#!/withdrawals/{{$ctrl.withdrawal.id}}/edit">Edit</a>
