<filter-types></filter-types>
<table class="table table-hover table-responsive">
  <thead>
    <tr>
      <th>Type</th>
      <th>Subtotal</th>
      <th>Day</th>
      <th>User</th>
      <th>Amount</th>
      <th>Note</th>
      <th colspan="3">Strumenti</th>
    </tr>
  </thead>
  <tbody ng-repeat-start="(k,operations) in $ctrl.operationsObject">
    <tr>
      <th colspan="9" ng-bind="k === '-' && 'Uscite' || 'Entrate'"></th>
    </tr>
  </tbody>
  <tbody ng-repeat="(k,operationsType) in operations">
    <tr ng-repeat="operation in operationsType" ng-class="$ctrl.spending_limit_class(operation, operation.type, $ctrl.operationAmountSum(operationsType))">
      <td ng-if="$first" rowspan="{{operationsType.length}}">
        {{k}}
        <a href="/#!/operations/new?type_id={{operation.type_id}}&sign={{operation.sign}}" title="Aggiungi operazione di tipo {{operation.type.name}}" class="btn btn-info float-right">
          <span class="oi oi-plus"></span>
        </a>
      </td>
      <td ng-if="$first" rowspan="{{operationsType.length}}">
        {{operationsType | filterMapProps: 'amount' | sum | currency: '€'}}
        <br />
        <span ng-if="operationsType['0'].sign === '-' && operationsType['0'].type.spending_roof && !operationsType['0'].type.spending_limit">
          Tetto di spesa: ({{operationsType['0'].type.spending_roof | currency: '€'}})
        </span>
        <span ng-if="operationsType['0'].sign === '-' && operationsType['0'].type.spending_limit">
          Tetto di spesa: ({{$ctrl.spending_limit_amount(operationsType['0'].type.spending_limit, operationsType['0'].date).amount | currency: '€'}})
        </span>

      </td>
      <td>{{operation.day}}</td>
      <td>{{operation.user.name}}</td>
      <td class="{{operation.sign === '-' ? 'negative' : ''}}">
        {{operation.amount|currency:"€"}}
      </td>
      <td>
        <button ng-click="$ctrl.popover($event)" type="button" class="popover-note btn btn-info" ng-if="operation.note" tabindex="0" role="button" data-toggle="popover" data-trigger="focus" title="Note" data-content="{{operation.note}}">
          <span class="oi oi-bookmark"></span> Note
        </button>
      </td>
      <td><a class="btn btn-primary" href="#!/operations/{{operation.id}}"><span class="oi oi-info"></span></a></td>
      <td><a class="btn btn-warning" href="#!/operations/{{operation.id}}/edit"><span class="oi oi-pencil"></span></a></td>
      <td><a class="btn btn-danger" href="#!/operations/{{operation.id}}" method="delete" data-confirm="Are you sure?"><span class="oi oi-trash"></span></a></td>
    </tr>
  </tbody>
  <tbody ng-repeat-end>
    <tr>
      <th>Totale <span ng-bind="k === '-' ? 'Spese' : 'Entrate'"></th>
      <th>
        {{$ctrl.operations| filterBy:['sign']:k | map: 'amount' | sum | currency: '€'}}
      </th>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <th>Saldo</th>
      <th>
        {{$ctrl.month_balance($ctrl.operations) | currency: '€'}}
      </th>
    </tr>
  </tbody>
</table>
<pie-chart-per-user operations="$ctrl.operations"></pie-chart-per-user>
