<div ng-repeat="(user, charts) in $ctrl.charts | groupBy: 'user'">
  <div class="card border-primary">
    <div class="card-header bg-primary text-white">
      <h3 class="card-title">
        {{user}}
      </h3>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6" ng-repeat="chart in charts">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title" ng-bind="(chart.sign === '-' && 'Uscite') || 'Entrate'"></h3>
            </div>
            <div class="card-body">
              <canvas id="doughnut" class="chart chart-doughnut" chart-data="chart.data" chart-labels="chart.labels">
              </canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
