<table class="table">
  <thead>
    <tr>
      <th>Type</th>
      <th>Subtotal</th>
      <th>Day</th>
      <th>User</th>
      <th>Amount</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th colspan="9">Uscite</th>
    </tr>
  </tbody>
  <tbody ng-repeat="(k,operations) in $ctrl.operationsOut | orderBy: 'type.name' | groupBy: 'type.name'">
    <tr ng-repeat="operation in operations">
      <td ng-if="$first" rowspan="{{operations.length}}">
        {{k}}
        <a href="/operations/new?type_id={{operation.type_id}}&sign={{operation.sign}}" title="Aggiungi operazione di tipo {{operation.type.name}}" class="btn btn-info float-right">
          <span class="oi oi-plus"></span>
        </a>
      </td>
      <td ng-if="$first" rowspan="{{operations.length}}">{{operations | map: 'amount' | sum | currency: '€'}}</td>
      <td>{{operation.day}}</td>
      <td>{{operation.user.name}}</td>
      <td class="{{operation.sign === '-' ? 'negative' : ''}}">
        {{operation.amount|currency:"€"}}
      </td>
      <td>{{operation.note && "K"}}</td>
      <td><a href="#!/operations/{{operation.id}}">Show</a></td>
      <td><a href="/operations/{{operation.id}}/edit">Edit</a></td>
      <td><a href="/operations/{{operation.id}}" method="delete" data-confirm="Are you sure?">Destroy</a></td>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <th colspan="9">Entrate</th>
    </tr>
  </tbody>
  <tbody ng-repeat="(k,operations) in $ctrl.operationsIn | groupBy: 'type.name'">
    <tr ng-repeat="operation in operations">
      <td ng-if="$first" rowspan="{{operations.length}}">{{k}}</td>
      <td ng-if="$first" rowspan="{{operations.length}}">{{operations | map: 'amount' | sum | currency: '€'}}</td>
      <td>{{operation.day}}</td>
      <td>{{operation.user.name}}</td>
      <td class="{{operation.sign === '-' ? 'negative' : ''}}">
        {{operation.amount|currency:"€"}}
      </td>
      <td>{{operation.note && "K"}}</td>
      <td><a href="#!/operations/{{operation.id}}">Show</a></td>
      <td><a href="/operations/{{operation.id}}/edit">Edit</a></td>
      <td><a href="/operations/{{operation.id}}" method="delete" data-confirm="Are you sure?">Destroy</a></td>
    </tr>
  </tbody>
</table>
