<div class="btn-group">
  <a class="btn btn-primary" href="/operations/{{$ctrl.year}}">Anno corrente {{$ctrl.year}}</a>
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
      <li ng-repeat="i in $ctrl.months">
      <!-- li class="<%= is_active?(calendar_month_operations_path(year: Time.now.year, month: i)) %>" -->
        <a href="#!/operations/{{$ctrl.year}}/{{i.id}}">{{i.name}}</a>
      </li>
  </ul>
</div>
