@import "bootstrap-sprockets";
@import "bootstrap";

table {
  font-size: 0.9em;
}

.toggle-repeat, .toggle-month-repeat, .toggle-week-repeat {
  display: none;
}

.filter-toggle {
  cursor: pointer;
}
