<div id="errorExplanation" class="alert alert-block alert-danger <%= "hide" if !target.errors.any? %>">
<% if target.errors.any? %>
    <h2><%= pluralize(target.errors.count, "error") %> prohibited this operation from being saved:</h2>
    <ul>
    <% target.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
<% end %>
</div>
