<%= content_tag :div, id: "messages" do %>
  <% flash.each do |key, value| %>
    <div class="alert alert-block alert-success">
      <button type="button" class="close" data-dismiss="alert" aria-label="chiudi">
        <span aria-hidden="true">&times;</span>
      </button>
      <%= value %>
    </div>
  <% end %>
<% end if flash.any? %>
