<% cache [operations_per_type.where(user_id: user.id).maximum(:updated_at),"monthly_charts1"] do %>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">
        <%= user.name %>
      </h3>
    </div>
    <div class="panel-body">
      <div class="row-fluid">
        <% { "Uscite": "-", "Entrate": "+"}.each do |k,v| %>
          <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"><%= k %></h3>
              </div>
              <div class="panel-body">
                <%= pie_chart operations_per_type.where(sign: v, user_id: user.id).sum(:amount) %>
              </div>
            </div>
          </div>
        <% end %>
    </div>
  </div>
<% end %>
